---
import ThemeSwitch from "./ThemeSwitch.astro";
import Search from "./Search.astro";
import Spacer from "./Spacer.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const origin = Astro.url.origin;
import { siteLink } from "@utils/links";
---

<div
  class="flex flex-row flex-wrap my-1 lg:mx-20 mx-5 p-3 justify-between items-center"
>
  <div class="flex justify-self-start gap-2 space-x-2">
    <a
      href={origin + siteLink(`${lang}/`)}
      class="text-2xl align-middle self-center">Sherpa</a
    >
    <div></div>
    <Search />
  </div>
  <div
    class="flex justify-self-end justify-end flex-row items-center space-x-4"
  >
    <ul
      class="md:flex flex-col md:flex-row text-center w-full text-md space-x-2 md:justify-around hidden"
    >
      <li>
        <a href={origin + siteLink(`${lang}/`)} class="hover:text-theme-accent1"
          >Home</a
        >
      </li>
      <li>
        <a
          href={origin + siteLink(`${lang}/preface/`)}
          class="hover:text-theme-accent1">Preface</a
        >
      </li>
      <li>
        <a
          href={origin + siteLink(`${lang}/why-nixos/`)}
          class="hover:text-theme-accent1">Why NixOS?</a
        >
      </li>
      <li>
        <a
          href={origin + siteLink(`${lang}/docs/`)}
          class="hover:text-theme-accent1">Get Started</a
        >
      </li>
    </ul>
    <div id="burger" class="md:hidden">
      <div class="h-0.5 w-6 my-1.5 bg-theme-600"></div>
      <div class="h-0.5 w-6 my-1.5 bg-theme-600"></div>
      <div class="h-0.5 w-6 my-1.5 bg-theme-600"></div>
    </div>
    <Spacer />
    <ThemeSwitch />
  </div>
  <ul
    id="mobile-links"
    class="flex justify-around my-2 flex-row text-center w-full text-md space-x-2 hidden"
  >
    <li>
      <a href={origin + siteLink(`${lang}/`)} class="hover:text-theme-accent1"
        >Home</a
      >
    </li>
    <li>
      <a
        href={origin + siteLink(`${lang}/preface/`)}
        class="hover:text-theme-accent1">Preface</a
      >
    </li>
    <li>
      <a
        href={origin + siteLink(`${lang}/why-nixos/`)}
        class="hover:text-theme-accent1">Why NixOS?</a
      >
    </li>
    <li>
      <a
        href={origin + siteLink(`${lang}/docs/`)}
        class="hover:text-theme-accent1">Get Started</a
      >
    </li>
  </ul>
  <script>
    const burger = document.getElementById("burger");
    const links = document.getElementById("mobile-links");
    burger?.addEventListener("click", () => {
      links?.classList.toggle("hidden");
    });
  </script>
</div>
