---
import ThemeSwitch from "./ThemeSwitch.astro";
import Search from "./Search.astro";
import Spacer from "./Spacer.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const origin = Astro.url.origin;
import { siteLink } from "@utils/links";
---

<div
  class="flex flex-row flex-wrap my-1 mx-20 p-3 justify-between items-center"
>
  <div class="flex justify-self-start">
    <a href={origin + siteLink(`${lang}/`)} class="text-2xl">Sherpa</a>
    <div></div>
  </div>
  <div
    class="flex justify-self-end justify-end flex-row items-center space-x-4"
  >
    <div class="text-md justify-between space-x-2">
      <a href={origin + siteLink(`${lang}/`)} class="hover:text-theme-accent1"
        >Home</a
      >
      <a
        href={origin + siteLink(`${lang}/preface/`)}
        class="hover:text-theme-accent1">Preface</a
      >
      <a
        href={origin + siteLink(`${lang}/why-nixos/`)}
        class="hover:text-theme-accent1">Why NixOS?</a
      >
      <a
        href={origin + siteLink(`${lang}/docs/`)}
        class="hover:text-theme-accent1">Get Started</a
      >
    </div>
    <Spacer />
    <ThemeSwitch />
  </div>
</div>
